<!--
Credit to Cory Guynn (http://www.InternetOfLEGO.com) for providing the initial template upon which I build on further.

LICENSE:
"Have Fun!, use and abuse"
-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
      <!-- <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script> -->
    </head>
    <div class="container">  
      
      <form method="POST" id="loginForm" action="/login" required>
        <center><a href="http://developers.meraki.com"><img src="{{ url_for('static', filename='mr-diy-logo.jpeg') }}" width="80%"/></a></center>
        <br>
        <fieldset>
          <input id="name" name="user_name" placeholder="Your name" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
          <input id="email" name="user_email" placeholder="Your Email Address" type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
          <input id="phone" name="user_phone" placeholder="Your Phone Number (optional)" type="text" tabindex="3">
        </fieldset>
        <fieldset>
          <input id="age" name="user_age" placeholder="Your Age (optional)" type="text" tabindex="4">
        </fieldset>
        <fieldset>
          <button type="submit" >Log in to WiFi</button>
        </fieldset>
        <p class="copyright">Sample by <a href="http://www.InternetOfLEGO.com" target="_blank" title="Internet of LEGO">Internet of LEGO</a></p>
      </form>
    </div>
    <hr>
    <h4>Debugging Stats</h4>
    <p><label>Base Grant URL: {{base_grant_url}}</label><label id="base_grant_url"></label></p>
    <p><label>User Continue URL: {{user_continue_url}}</label><label id="user_continue_url"></label></p>
    <p><label>Client IP: {{client_ip}}</label><label id="client_ip"></label></p>
    <p><label>Client MAC: {{client_mac}}</label><label id="client_mac"></label></p>
    <p><label>Access Point MAC: {{node_mac}}</label><label id="node_mac"></label></p>
    <p><label>Access Point ID: {{node_id}}</label><label id="node_id"></label></p>
    <p><label>Gateway ID: {{gateway_id}}</label><label id="gateway_id"></label></p>
</html>